
html {
    background-image: url("https://images.unsplash.com/photo-1521823343548-614cbfc0f742?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a51377883cc6f6da3ba39658883e50e&auto=format&fit=crop&w=1534&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#content {
    background-color: rgba(232, 234, 237, 0.8);
    margin: 35px;
    padding: 25px;
    max-width: 700px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}